<% include layout/top %>

<div class="starter-template">


  <div class="jumbotron">
    <h1>Web Paint</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, distinctio, veritatis, sed magnam explicabo ipsum alias impedit est expedita numquam tenetur eius commodi hic nisi nesciunt ratione minima dignissimos quaerat.</p>
    <p><a class="btn btn-primary btn-lg" href="/drawings" role="button">Browse drawings</a></p>
  </div>   

 </div>
 
 <% include layout/bottom %>